html {
  scroll-behavior: smooth;
}

ul {
  width:100%;
  background:red;
  height:30px;
  text-align:center;
}

li {
  display:inline-block;
  font-size: 20px;
  margin-right:40px;
}

.game__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-6 {
  width: 40%;
  flex-basis: 40%;
  display: inline-block;
  border: 1px solid;
  background: red;
  padding: 20px;
  height: 20;
}

.col-7 {
  width: 40%;
  flex-basis: 40%;
  display: inline-block;
  background: green;
  padding-top: 65px;
}

.col-8 {
  width: 40%;
  flex-basis: 40%;
  display: inline-block;
  padding: 10px;
}

.col-12 {
  width: 100%;
  flex-basis: 40%;
}

.destination {
  height: 300px;
  font-size: 40px;
  text-align: center;
  border: 2px solid red;
}

.card {
 height: 300px;
 width: 300px;
 border: 2px dashed black;
 margin: 200px 20%;
 top: 0;
 bottom: 0;
 position: absolute;
}

.leftBox {
  display: flex;
  justify-content: center;
  background-color: blue;
  width: 50px;
  height: 300px;
  margin-top: 125px;
}

.player {
  background-color: red;
  width: 50px;
  height: 50px;
  position: absolute;
}

.col-2 {
  width: 20%;
  flex-basis: 40%;
  /* position: relative;
  left: -100px; */
  display: inline-block;
}

.col-3 {
  width: 20%;
  position: relative;
  left: -120px;
  display: inline-block;
}

.cont {
color: red;
width: 110px;
height: 100px;
background-color: green;
display: flex;
text-align: center;
align-items: center;
justify-content: center;
transition: all 0.5s;
border-radius: 50%;
}
